<!-- src/app/tab-upload/gallery-modal/gallery-modal.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Sélectionner une photo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="gallery-grid">
    <div *ngFor="let photo of photos" 
         class="gallery-item" 
         (click)="selectPhoto(photo)"
         [class.selected]="photo === selectedPhoto">
      <img [src]="photo.webviewPath" alt="Gallery photo">
    </div>
  </div>
</ion-content>