<div class="banner-ads-container" *ngIf="bannerAds.length > 0">
  
  <!-- Bannière actuelle -->
  <div class="banner-wrapper" *ngIf="currentBanner">
    <div class="banner-content">
      <!-- Image de la bannière (400x210px max) -->
      <ion-img 
        [src]="currentBanner.fileUrl | mediaUrl | async" 
        [alt]="currentBanner.description || 'Publicité'"
        class="banner-image"
        (click)="onBannerClick(currentBanner)">
      </ion-img>
      
      <!-- Bouton de fermeture -->
      <button class="close-banner" (click)="closeBanner()" *ngIf="bannerAds.length>1" >
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    
    <!-- Navigation (si plusieurs bannières) -->
    <div class="banner-navigation" *ngIf="bannerAds.length > 1">
      <button class="nav-btn prev" (click)="previousBanner()">
        <ion-icon name="chevron-back"></ion-icon>
      </button>
      
      <div class="banner-indicators">
        <span 
          *ngFor="let banner of bannerAds; let i = index"
          class="indicator"
          [class.active]="i === currentIndex">
        </span>
      </div>
      
      <button class="nav-btn next" (click)="nextBanner()">
        <ion-icon name="chevron-forward"></ion-icon>
      </button>
    </div>
  </div>
</div>

