
<div class="burger-menu" [class.open]="isOpen" [class.collapsed]="isCollapsed">
  <div class="menu-header" *ngIf="!isCollapsed" >
     <button class="profile-btn" (click)="gotoprofile()">
       <ion-avatar class="header-avatar"  >
            <img [src]="avatar  | mediaUrl | async" alt="Profile" (error)="onImageAvatarError($event)" />
          </ion-avatar> 
    </button> 
    <h3>Profile</h3>
  </div>
 <div class="menu-items">
  <ng-container *ngFor="let item of navItems">
    <div 
      *ngIf="item.visible !== false"
      class="menu-item"
      [class.active]="item.idx === activeItemIndex"
      (click)="onNavItemClick(item)">
      
      <div class="item-icon">
        <svg viewBox="0 0 24 24" fill="none"
             stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
             [innerHTML]="item.iconPath | safeHtml">
        </svg>
        <span class="star" *ngIf="item.star">{{ item.emoji }}</span>
        <span class="badge" *ngIf="item.badge">{{ item.badge }}</span>
      </div>
      
      <span class="item-label" *ngIf="!isCollapsed">{{ item.label }}</span>
    </div>
  </ng-container>
</div>
</div>