
ion-tab-bar {
  --background: rgba(0, 0, 0, 0.8);
  --border: none;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 0;
  height: 60px;

  ion-tab-button {
    --color: white;
    --color-selected: #ff7f00;
    --padding-top: 4px;
    --padding-bottom: 4px;
    
    ion-icon {
      font-size: 24px;
      margin-bottom: 4px;
    }
    
    ion-label {
      font-size: 12px;
      margin-top: 2px;
    }
  }
}


.profile-tab {
  position: relative;
  display: inline-block;
}

.led-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-light);

  &.active {
    background-color: #2dd36f; // Vert pour actif
  }

  &.expiring {
    background-color: #ffc409; // Orange pour bientôt expiré
  }

  &.expired, &.inactive {
    background-color: #eb445a; // Rouge pour expiré/inactif
  }
}