<div class="side-actions">
  <button class="action-button" *ngFor="let action of cachedActions" (click)="action.action()"
    [class.vote-button]="action.icon === 'vote'">

    <!-- Bouton VOTE : carte accentuée avec compteur intégré -->
    <ng-container *ngIf="action.votestatus; else defaultIcon">
      <div class="vote-card" [class.voted]="action.votestatus.hasVoted">
        <div class="pulse-ring"></div>
        <div class="vote-card__icon">
          <img [src]="action.votestatus.voteIcon || getButtonImage(Post, action)">
        </div>
        <span class="vote-card__count">{{ action.count ?? 0 }}</span>
        <span class="vote-card__label">{{ action.votestatus.voteLabel }}</span>
      </div>
    </ng-container>

    <!-- Tous les autres boutons (gif ou icône normale) -->
    <ng-template #defaultIcon>
      <div class="action-icon" [class.liked]="action.icon === 'heart'">
        <img [src]="getButtonImage(Post, action)" *ngIf="action.gifIcon">
        <ion-icon [name]="action.icon" *ngIf="!action.gifIcon"></ion-icon>
      </div>
      <span class="action-count" *ngIf="action.count !== undefined">{{ action.count }}</span>
    </ng-template>

  </button>
</div>