<div class="side-actions">
          <button class="action-button" *ngFor="let action of  cachedActions" (click)="action.action()">
            <div class="action-icon" [class.liked]="action.icon === 'heart'">
              <ion-icon [name]="action.icon" *ngIf="!action.gifIcon"></ion-icon>
              <img [src]="getButtonImage(Post, action)" *ngIf="action.gifIcon">
            </div>
            <span class="action-count" *ngIf="action.count !== undefined">{{ action.count }}</span>
          </button>