
<ion-header>
  <!-- Tab Navigation -->
  <div class="tab-navigation">
    <button
      class="tab-button"
      [class.active]="activeTab === 'content'"
      (click)="setActiveTab('content')">
      <ion-icon name="create-outline"></ion-icon>
      <span>Contenu</span>
    </button>
    <button
      class="tab-button"
      [disabled]="CurrentUserProfile.type!=='admin'"
      [class.active]="activeTab === 'exclusivity'"
      (click)="setActiveTab('exclusivity')">
      <ion-icon name="star-outline"></ion-icon>
      <span>Exclusifs <ion-icon *ngIf="CurrentUserProfile.type!=='admin'" name="lock-closed" class="lock-icon"></ion-icon></span>
      
    </button>
  </div>
</ion-header>
<div class="publication-container">

  

  <!-- Content Tabs -->
  <div class="publication-content">

    <div *ngIf="activeTab === 'content'" class="tab-content">
      <app-post-content
        [CurrentUserProfile]="CurrentUserProfile"
        [challenges]="challenges"
        [isChallenging]="isChallenging">
      </app-post-content>
    </div>

    <div *ngIf="activeTab === 'exclusivity'" class="tab-content">
      <app-post-exclusivity></app-post-exclusivity>
    </div>

  </div>

</div>