<div class="payment-modal">
  <div class="payment-header">
    <h3>Paiement MonCash</h3>
    <button ion-button (click)="closePayment()" class="close-btn">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="payment-content">
    <iframe 
      [src]="paymentUrl | safeUrl" 
      width="100%" 
      height="500px"
      frameborder="0"
      class="payment-iframe">
    </iframe>
  </div>
  <div class="payment-footer">
    <p>Après avoir effectué le paiement, la fenêtre se fermera automatiquement</p>
    <button ion-button fill="outline" (click)="closePayment()">
      Annuler le paiement
    </button>
  </div>
</div>