<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="settings-container">
    <ion-button 
      expand="block" 
      color="danger" 
      (click)="onLogout()"
      class="logout-button">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Se déconnecter
    </ion-button>
  </div>
</ion-content>