.settings-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.logout-button {
  margin-top: 20px;
  --border-radius: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  font-weight: 600;
}

ion-content {
  --background: var(--ion-color-light);
}